body {
    cursor:url(https://cdn.jsdelivr.net/gh/acodegod/pic-cdn@main/2021/blog/normal.cur), default
}
a, button {
    cursor:url(https://cdn.jsdelivr.net/gh/acodegod/pic-cdn@main/2021/blog/link.cur), pointer
}
.block {
    opacity: 75%;
}
